@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);


body {
    background-color: #B0E0E6;
    background-image: url("https://pixabay.com/images/id-5585247/");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-basis: 800px;
}

h1, h2, h3, h4, h5, label, button {
    font-family: 'Jeju Gothic', sans-serif;
    word-break: keep-all;
    color: #606060;
}

header p {
    font-family: sans-serif;
    color: #a2a2a2;
    font-size: 0.9rem;
    margin-top: 14px;
    word-break: keep-all;
    line-height: 1.2rem;
}

header a {
    color: #727a17;
    text-decoration: underline;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horizontal-divider {
    height: 4px;
    width: 20%;
    background-color: #e3e4d1;
    margin: 0 auto 20px auto;
}

h1 {
    font-size: 1.8rem;
}

.results h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.results h3 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-top: 20px;
}

.field {
    text-align: left;
    padding: 15px 0;
}

.accented {
    color: #ff1643;
    /*font-weight: 700;*/
}

label {
    font-size: 1rem;
    font-weight: 700;
}

input[type=text], select {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-top: 10px;
    /*line-height: 32px;*/
    background: #ffffff;
    color: #606060;
}

select {
    padding-bottom: 4px;
    padding-top: 0;
    height: 40px; /* Fix weird off-center/text clipping problem */
}

input[type=text]:focus {
    outline: 0;
    border: 1px solid #63dc16;
}

select:focus {
    outline: 0;
    border: 1px solid #63dc16;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dfdfdf;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dfdfdf;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #dfdfdf;
}

button {
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 11px 16px 8px 16px; /* font slightly off center */
    margin-top: 20px;
    background-color: #a7aaa5;
    color: white;
    transition: 0.3s;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #7d807c;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.12);
    transform: translateY(-2px);

}

/*button:active {*/
    /*background-color: aquamarine;*/
    /*outline: 0;*/
/*}*/

.container__head {
    height: 120px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main {
    margin: 0 auto 0 auto;
    max-width: 600px;
    flex: 1;
}

.container__footer {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 800px;
    text-align: right;
    height: 40px;
}

.copyright {
    color: white;
    font-size: 0.8rem;
}

.copyright a {
    text-decoration: none;
    color: white;
}

.card {
    padding: 20px 30px 40px 30px;
    margin: 40px 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form {

}

.form label {
    text-align: left;
    color: #606060;
}

.results {
    display: none;
    padding: 40px 0;
}

@media (min-width:640px) {
    .container__main {
        width: 600px;
    }

    .container__head {
        height: 200px;
    }
}
